
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    background-color: #F1F3F7;
}

.header {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.add-member {
    padding: .4rem 2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: .5rem;
    color: #fff;
    width: 160px;
}


.member-cards-container {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    margin: 2rem;
    gap: 2rem;
}

.member-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 14px;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position:relative;
}


.members-options-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    padding: 1rem;
}

.role-badge {
    margin-bottom: 1rem;
    background-color: #F0F1F5;
    font-size: 12px;
    padding: 7px 14px;
    border-radius: 8px

}

.message-btn {
    border-radius: 8px;
    border: none;
    padding: 14px 24px;
    width: 80%;
    background-color: #F5F7FA;
    margin-bottom: 1.5rem;
}
.hidden {
    display: none;
}

.drop-down {
    /*display: none;*/
    /*flex eller none*/
    flex-direction: column;
    padding: 1rem;
    gap: 6px;
    width: 70%;
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 6px #ccc;
    button

{
    background-color: #fff;
    border: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
    text-align: center;
    padding: .5rem;
    width: 90%;
}

button:hover {
    background-color: #F5F7FA;
}

}

.dropdown-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: .5rem 0;
}
