* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MainGrid {
    display: grid;
    height: 100dvh;
    grid-template-columns: minmax(270px, 15%) 1fr;
    grid-auto-rows: 4rem 1fr;
    background-color: #F1F3F7;
}

.SideBar {
    grid-column: 1/2;
    grid-row: 1/ 3;
}

.TopBar{
    grid-column: 2/3;
    grid-row: 0/1;
}

/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL*/

/* Dark overlay when modal is active */
.modal {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Darkens the background */
    justify-content: center;
    align-items: center;
    display:none;
}
.modal-background-flex {
    display: flex;
}


